<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="wide=device-width,initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
    <nav th:replace="_fragment :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item"> My Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class=" m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="搜索关键字">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button m-top-right m-mobile-show">
            <i class="icon sidebar"></i>
        </a>

    </nav>

<!--中间内容-->
    <div class="m-container-huge m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h2 class="ui teal header">归档</h2>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui header orange m-inline-block m-text-thin" th:text="${blogCount}">114</h2>篇博客
                    </div>
                </div>
            </div>
            <th:block th:each="item : ${archiveMap}">
            <h2 class="ui center aligned header" th:text="${item.key}">2022</h2>
            <div class="ui fluid vertical menu">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
                    <span>
                        <i class="teal mini circle icon"></i><span th:text="${blog.title}">Mybatis,Spring,SpringBoot整合过程</span>
                        <div class="ui teal basic label m-padded-tb-mini" th:text="${#dates.format(blog.updateTime,'MM-dd')}">1月3日</div>
                    </span>
                    <div class="ui orange basic label m-padded-mini" th:text="${blog.flag}">原创</div>
                </a>
            </div>
            </th:block>
        </div>

    </div>
<!--底部-->

    <footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="item">
                        <img src="../static/image/code.jpg" class="ui rounded  middle aligned image" alt="联系我们" style="width: 120px">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-mini">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">初识SpringBoot</a>
                        <a href="#" class="item">了解SSM框架</a>
                        <a href="#" class="item">Mybatis整合</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:1825188126@qq.com</a>
                        <a href="#" class="item">QQ:1825188126</a>
                        <a href="#" class="item">地址:江西省南昌市东湖区</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-mini">博客介绍</h4>
                    <p class="m-text-thin m-text-spaced m-text-mini">这是我的个人博客，会分享关于编程、考研、课外读物相关的任何内容，希望可以给来到这儿的人提供帮助......</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-text-mini ">Copyright&copy;2022 designed by student zhang</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="_fragment :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>
</html>